USE [EstuDados]
GO
/****** Object:  Table [f].[Ensino_Basico]    Script Date: 12/25/2022 12:59:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [f].[Ensino_Basico](
	[ANO] [varchar](4) NULL,
	[NU_ANO_CENSO] [varchar](1000) NULL,
	[NO_REGIAO] [varchar](1000) NULL,
	[CO_REGIAO] [varchar](1000) NULL,
	[NO_UF] [varchar](1000) NULL,
	[SG_UF] [varchar](1000) NULL,
	[CO_UF] [varchar](1000) NULL,
	[NO_MUNICIPIO] [varchar](1000) NULL,
	[CO_MUNICIPIO] [varchar](1000) NULL,
	[NO_MESORREGIAO] [varchar](1000) NULL,
	[CO_MESORREGIAO] [varchar](1000) NULL,
	[NO_MICRORREGIAO] [varchar](1000) NULL,
	[CO_MICRORREGIAO] [varchar](1000) NULL,
	[CO_DISTRITO] [varchar](1000) NULL,
	[CO_ENTIDADE] [varchar](1000) NULL,
	[NO_ENTIDADE] [varchar](1000) NULL,
	[TP_DEPENDENCIA] [varchar](1000) NULL,
	[TP_CATEGORIA_ESCOLA_PRIVADA] [varchar](1000) NULL,
	[TP_LOCALIZACAO] [varchar](1000) NULL,
	[TP_LOCALIZACAO_DIFERENCIADA] [varchar](1000) NULL,
	[DS_ENDERECO] [varchar](1000) NULL,
	[NU_ENDERECO] [varchar](1000) NULL,
	[DS_COMPLEMENTO] [varchar](1000) NULL,
	[NO_BAIRRO] [varchar](1000) NULL,
	[CO_CEP] [varchar](1000) NULL,
	[NU_DDD] [varchar](1000) NULL,
	[NU_TELEFONE] [varchar](1000) NULL,
	[TP_SITUACAO_FUNCIONAMENTO] [varchar](1000) NULL,
	[CO_ORGAO_REGIONAL] [varchar](1000) NULL,
	[DT_ANO_LETIVO_INICIO] [varchar](50) NULL,
	[DT_ANO_LETIVO_TERMINO] [varchar](50) NULL,
	[IN_VINCULO_SECRETARIA_EDUCACAO] [int] NULL,
	[IN_VINCULO_SEGURANCA_PUBLICA] [int] NULL,
	[IN_VINCULO_SECRETARIA_SAUDE] [int] NULL,
	[IN_VINCULO_OUTRO_ORGAO] [int] NULL,
	[IN_CONVENIADA_PP] [int] NULL,
	[TP_CONVENIO_PODER_PUBLICO] [int] NULL,
	[IN_MANT_ESCOLA_PRIVADA_EMP] [int] NULL,
	[IN_MANT_ESCOLA_PRIVADA_ONG] [int] NULL,
	[IN_MANT_ESCOLA_PRIVADA_OSCIP] [int] NULL,
	[IN_MANT_ESCOLA_PRIV_ONG_OSCIP] [int] NULL,
	[IN_MANT_ESCOLA_PRIVADA_SIND] [int] NULL,
	[IN_MANT_ESCOLA_PRIVADA_SIST_S] [int] NULL,
	[IN_MANT_ESCOLA_PRIVADA_S_FINS] [int] NULL,
	[NU_CNPJ_ESCOLA_PRIVADA] [varchar](1000) NULL,
	[NU_CNPJ_MANTENEDORA] [varchar](1000) NULL,
	[TP_REGULAMENTACAO] [int] NULL,
	[TP_RESPONSAVEL_REGULAMENTACAO] [int] NULL,
	[CO_ESCOLA_SEDE_VINCULADA] [int] NULL,
	[CO_IES_OFERTANTE] [int] NULL,
	[IN_LOCAL_FUNC_PREDIO_ESCOLAR] [int] NULL,
	[TP_OCUPACAO_PREDIO_ESCOLAR] [int] NULL,
	[IN_LOCAL_FUNC_SALAS_EMPRESA] [int] NULL,
	[IN_LOCAL_FUNC_SOCIOEDUCATIVO] [int] NULL,
	[IN_LOCAL_FUNC_UNID_PRISIONAL] [int] NULL,
	[IN_LOCAL_FUNC_PRISIONAL_SOCIO] [int] NULL,
	[IN_LOCAL_FUNC_TEMPLO_IGREJA] [int] NULL,
	[IN_LOCAL_FUNC_CASA_PROFESSOR] [int] NULL,
	[IN_LOCAL_FUNC_GALPAO] [int] NULL,
	[TP_OCUPACAO_GALPAO] [int] NULL,
	[IN_LOCAL_FUNC_SALAS_OUTRA_ESC] [int] NULL,
	[IN_LOCAL_FUNC_OUTROS] [int] NULL,
	[IN_PREDIO_COMPARTILHADO] [int] NULL,
	[IN_AGUA_FILTRADA] [int] NULL,
	[IN_AGUA_POTAVEL] [int] NULL,
	[IN_AGUA_REDE_PUBLICA] [int] NULL,
	[IN_AGUA_POCO_ARTESIANO] [int] NULL,
	[IN_AGUA_CACIMBA] [int] NULL,
	[IN_AGUA_FONTE_RIO] [int] NULL,
	[IN_AGUA_INEXISTENTE] [int] NULL,
	[IN_ENERGIA_REDE_PUBLICA] [int] NULL,
	[IN_ENERGIA_GERADOR] [int] NULL,
	[IN_ENERGIA_GERADOR_FOSSIL] [int] NULL,
	[IN_ENERGIA_OUTROS] [int] NULL,
	[IN_ENERGIA_RENOVAVEL] [int] NULL,
	[IN_ENERGIA_INEXISTENTE] [int] NULL,
	[IN_ESGOTO_REDE_PUBLICA] [int] NULL,
	[IN_ESGOTO_FOSSA_SEPTICA] [int] NULL,
	[IN_ESGOTO_FOSSA_COMUM] [int] NULL,
	[IN_ESGOTO_FOSSA] [int] NULL,
	[IN_ESGOTO_INEXISTENTE] [int] NULL,
	[IN_LIXO_SERVICO_COLETA] [int] NULL,
	[IN_LIXO_QUEIMA] [int] NULL,
	[IN_LIXO_ENTERRA] [int] NULL,
	[IN_LIXO_DESTINO_FINAL_PUBLICO] [int] NULL,
	[IN_LIXO_DESCARTA_OUTRA_AREA] [int] NULL,
	[IN_LIXO_JOGA_OUTRA_AREA] [int] NULL,
	[IN_LIXO_OUTROS] [int] NULL,
	[IN_LIXO_RECICLA] [int] NULL,
	[IN_TRATAMENTO_LIXO_SEPARACAO] [int] NULL,
	[IN_TRATAMENTO_LIXO_REUTILIZA] [int] NULL,
	[IN_TRATAMENTO_LIXO_RECICLAGEM] [int] NULL,
	[IN_TRATAMENTO_LIXO_INEXISTENTE] [int] NULL,
	[IN_ALMOXARIFADO] [int] NULL,
	[IN_AREA_VERDE] [int] NULL,
	[IN_AUDITORIO] [int] NULL,
	[IN_BANHEIRO_FORA_PREDIO] [int] NULL,
	[IN_BANHEIRO_DENTRO_PREDIO] [int] NULL,
	[IN_BANHEIRO] [int] NULL,
	[IN_BANHEIRO_EI] [int] NULL,
	[IN_BANHEIRO_PNE] [int] NULL,
	[IN_BANHEIRO_FUNCIONARIOS] [int] NULL,
	[IN_BANHEIRO_CHUVEIRO] [int] NULL,
	[IN_BERCARIO] [int] NULL,
	[IN_BIBLIOTECA] [int] NULL,
	[IN_BIBLIOTECA_SALA_LEITURA] [int] NULL,
	[IN_COZINHA] [int] NULL,
	[IN_DESPENSA] [int] NULL,
	[IN_DORMITORIO_ALUNO] [int] NULL,
	[IN_DORMITORIO_PROFESSOR] [int] NULL,
	[IN_LABORATORIO_CIENCIAS] [int] NULL,
	[IN_LABORATORIO_INFORMATICA] [int] NULL,
	[IN_PATIO_COBERTO] [int] NULL,
	[IN_PATIO_DESCOBERTO] [int] NULL,
	[IN_PARQUE_INFANTIL] [int] NULL,
	[IN_PISCINA] [int] NULL,
	[IN_QUADRA_ESPORTES] [int] NULL,
	[IN_QUADRA_ESPORTES_COBERTA] [int] NULL,
	[IN_QUADRA_ESPORTES_DESCOBERTA] [int] NULL,
	[IN_REFEITORIO] [int] NULL,
	[IN_SALA_ATELIE_ARTES] [int] NULL,
	[IN_SALA_MUSICA_CORAL] [int] NULL,
	[IN_SALA_ESTUDIO_DANCA] [int] NULL,
	[IN_SALA_MULTIUSO] [int] NULL,
	[IN_SALA_DIRETORIA] [int] NULL,
	[IN_SALA_LEITURA] [int] NULL,
	[IN_SALA_PROFESSOR] [int] NULL,
	[IN_SALA_REPOUSO_ALUNO] [int] NULL,
	[IN_SECRETARIA] [int] NULL,
	[IN_SALA_ATENDIMENTO_ESPECIAL] [int] NULL,
	[IN_TERREIRAO] [int] NULL,
	[IN_VIVEIRO] [int] NULL,
	[IN_DEPENDENCIAS_PNE] [int] NULL,
	[IN_LAVANDERIA] [int] NULL,
	[IN_DEPENDENCIAS_OUTRAS] [int] NULL,
	[IN_ACESSIBILIDADE_CORRIMAO] [int] NULL,
	[IN_ACESSIBILIDADE_ELEVADOR] [int] NULL,
	[IN_ACESSIBILIDADE_PISOS_TATEIS] [int] NULL,
	[IN_ACESSIBILIDADE_VAO_LIVRE] [int] NULL,
	[IN_ACESSIBILIDADE_RAMPAS] [int] NULL,
	[IN_ACESSIBILIDADE_SINAL_SONORO] [int] NULL,
	[IN_ACESSIBILIDADE_SINAL_TATIL] [int] NULL,
	[IN_ACESSIBILIDADE_SINAL_VISUAL] [int] NULL,
	[IN_ACESSIBILIDADE_INEXISTENTE] [int] NULL,
	[QT_SALAS_EXISTENTES] [int] NULL,
	[QT_SALAS_UTILIZADAS_DENTRO] [int] NULL,
	[QT_SALAS_UTILIZADAS_FORA] [int] NULL,
	[QT_SALAS_UTILIZADAS] [int] NULL,
	[QT_SALAS_UTILIZA_CLIMATIZADAS] [int] NULL,
	[QT_SALAS_UTILIZADAS_ACESSIVEIS] [int] NULL,
	[IN_EQUIP_PARABOLICA] [int] NULL,
	[IN_COMPUTADOR] [int] NULL,
	[IN_EQUIP_COPIADORA] [int] NULL,
	[IN_EQUIP_IMPRESSORA] [int] NULL,
	[IN_EQUIP_IMPRESSORA_MULT] [int] NULL,
	[IN_EQUIP_SCANNER] [int] NULL,
	[IN_EQUIP_NENHUM] [int] NULL,
	[IN_EQUIP_DVD] [int] NULL,
	[QT_EQUIP_DVD] [int] NULL,
	[IN_EQUIP_SOM] [int] NULL,
	[QT_EQUIP_SOM] [int] NULL,
	[IN_EQUIP_TV] [int] NULL,
	[QT_EQUIP_TV] [int] NULL,
	[IN_EQUIP_LOUSA_DIGITAL] [int] NULL,
	[QT_EQUIP_LOUSA_DIGITAL] [int] NULL,
	[IN_EQUIP_MULTIMIDIA] [int] NULL,
	[QT_EQUIP_MULTIMIDIA] [int] NULL,
	[IN_EQUIP_VIDEOCASSETE] [int] NULL,
	[IN_EQUIP_RETROPROJETOR] [int] NULL,
	[IN_EQUIP_FAX] [int] NULL,
	[IN_EQUIP_FOTO] [int] NULL,
	[QT_EQUIP_VIDEOCASSETE] [int] NULL,
	[QT_EQUIP_PARABOLICA] [int] NULL,
	[QT_EQUIP_COPIADORA] [int] NULL,
	[QT_EQUIP_RETROPROJETOR] [int] NULL,
	[QT_EQUIP_IMPRESSORA] [int] NULL,
	[QT_EQUIP_IMPRESSORA_MULT] [int] NULL,
	[QT_EQUIP_FAX] [int] NULL,
	[QT_EQUIP_FOTO] [int] NULL,
	[QT_COMP_ALUNO] [int] NULL,
	[IN_DESKTOP_ALUNO] [int] NULL,
	[QT_DESKTOP_ALUNO] [int] NULL,
	[IN_COMP_PORTATIL_ALUNO] [int] NULL,
	[QT_COMP_PORTATIL_ALUNO] [int] NULL,
	[IN_TABLET_ALUNO] [int] NULL,
	[QT_TABLET_ALUNO] [int] NULL,
	[QT_COMPUTADOR] [int] NULL,
	[QT_COMP_ADMINISTRATIVO] [int] NULL,
	[IN_INTERNET] [int] NULL,
	[IN_INTERNET_ALUNOS] [int] NULL,
	[IN_INTERNET_ADMINISTRATIVO] [int] NULL,
	[IN_INTERNET_APRENDIZAGEM] [int] NULL,
	[IN_INTERNET_COMUNIDADE] [int] NULL,
	[IN_ACESSO_INTERNET_COMPUTADOR] [int] NULL,
	[IN_ACES_INTERNET_DISP_PESSOAIS] [int] NULL,
	[TP_REDE_LOCAL] [int] NULL,
	[IN_BANDA_LARGA] [int] NULL,
	[QT_FUNCIONARIOS] [int] NULL,
	[IN_PROF_ADMINISTRATIVOS] [int] NULL,
	[QT_PROF_ADMINISTRATIVOS] [int] NULL,
	[IN_PROF_SERVICOS_GERAIS] [int] NULL,
	[QT_PROF_SERVICOS_GERAIS] [int] NULL,
	[IN_PROF_BIBLIOTECARIO] [int] NULL,
	[QT_PROF_BIBLIOTECARIO] [int] NULL,
	[IN_PROF_SAUDE] [int] NULL,
	[QT_PROF_SAUDE] [int] NULL,
	[IN_PROF_COORDENADOR] [int] NULL,
	[QT_PROF_COORDENADOR] [int] NULL,
	[IN_PROF_FONAUDIOLOGO] [int] NULL,
	[QT_PROF_FONAUDIOLOGO] [int] NULL,
	[IN_PROF_NUTRICIONISTA] [int] NULL,
	[QT_PROF_NUTRICIONISTA] [int] NULL,
	[IN_PROF_PSICOLOGO] [int] NULL,
	[QT_PROF_PSICOLOGO] [int] NULL,
	[IN_PROF_ALIMENTACAO] [int] NULL,
	[QT_PROF_ALIMENTACAO] [int] NULL,
	[IN_PROF_PEDAGOGIA] [int] NULL,
	[QT_PROF_PEDAGOGIA] [int] NULL,
	[IN_PROF_SECRETARIO] [int] NULL,
	[QT_PROF_SECRETARIO] [int] NULL,
	[IN_PROF_SEGURANCA] [int] NULL,
	[QT_PROF_SEGURANCA] [int] NULL,
	[IN_PROF_MONITORES] [int] NULL,
	[QT_PROF_MONITORES] [int] NULL,
	[IN_PROF_GESTAO] [int] NULL,
	[QT_PROF_GESTAO] [int] NULL,
	[IN_PROF_ASSIST_SOCIAL] [int] NULL,
	[QT_PROF_ASSIST_SOCIAL] [int] NULL,
	[IN_ALIMENTACAO] [int] NULL,
	[IN_SERIE_ANO] [int] NULL,
	[IN_PERIODOS_SEMESTRAIS] [int] NULL,
	[IN_FUNDAMENTAL_CICLOS] [int] NULL,
	[IN_GRUPOS_NAO_SERIADOS] [int] NULL,
	[IN_MODULOS] [int] NULL,
	[IN_FORMACAO_ALTERNANCIA] [int] NULL,
	[IN_MATERIAL_PED_MULTIMIDIA] [int] NULL,
	[IN_MATERIAL_PED_INFANTIL] [int] NULL,
	[IN_MATERIAL_PED_CIENTIFICO] [int] NULL,
	[IN_MATERIAL_PED_DIFUSAO] [int] NULL,
	[IN_MATERIAL_PED_MUSICAL] [int] NULL,
	[IN_MATERIAL_PED_JOGOS] [int] NULL,
	[IN_MATERIAL_PED_ARTISTICAS] [int] NULL,
	[IN_MATERIAL_PED_DESPORTIVA] [int] NULL,
	[IN_MATERIAL_PED_INDIGENA] [int] NULL,
	[IN_MATERIAL_PED_ETNICO] [int] NULL,
	[IN_MATERIAL_PED_CAMPO] [int] NULL,
	[IN_MATERIAL_PED_NENHUM] [int] NULL,
	[IN_MATERIAL_ESP_QUILOMBOLA] [int] NULL,
	[IN_MATERIAL_ESP_INDIGENA] [int] NULL,
	[IN_MATERIAL_ESP_NAO_UTILIZA] [int] NULL,
	[IN_EDUCACAO_INDIGENA] [int] NULL,
	[TP_INDIGENA_LINGUA] [int] NULL,
	[CO_LINGUA_INDIGENA_1] [int] NULL,
	[CO_LINGUA_INDIGENA_2] [int] NULL,
	[CO_LINGUA_INDIGENA_3] [int] NULL,
	[IN_BRASIL_ALFABETIZADO] [int] NULL,
	[IN_FINAL_SEMANA] [int] NULL,
	[IN_EXAME_SELECAO] [int] NULL,
	[IN_RESERVA_PPI] [int] NULL,
	[IN_RESERVA_RENDA] [int] NULL,
	[IN_RESERVA_PUBLICA] [int] NULL,
	[IN_RESERVA_PCD] [int] NULL,
	[IN_RESERVA_OUTROS] [int] NULL,
	[IN_RESERVA_NENHUMA] [int] NULL,
	[IN_REDES_SOCIAIS] [int] NULL,
	[IN_ESPACO_ATIVIDADE] [int] NULL,
	[IN_ESPACO_EQUIPAMENTO] [int] NULL,
	[IN_ORGAO_ASS_PAIS] [int] NULL,
	[IN_ORGAO_ASS_PAIS_MESTRES] [int] NULL,
	[IN_ORGAO_CONSELHO_ESCOLAR] [int] NULL,
	[IN_ORGAO_GREMIO_ESTUDANTIL] [int] NULL,
	[IN_ORGAO_OUTROS] [int] NULL,
	[IN_ORGAO_NENHUM] [int] NULL,
	[TP_PROPOSTA_PEDAGOGICA] [int] NULL,
	[TP_AEE] [int] NULL,
	[TP_ATIVIDADE_COMPLEMENTAR] [int] NULL,
	[IN_MEDIACAO_PRESENCIAL] [int] NULL,
	[IN_MEDIACAO_SEMIPRESENCIAL] [int] NULL,
	[IN_MEDIACAO_EAD] [int] NULL,
	[IN_REGULAR] [int] NULL,
	[IN_DIURNO] [int] NULL,
	[IN_NOTURNO] [int] NULL,
	[IN_EAD] [int] NULL,
	[IN_BAS] [int] NULL,
	[IN_INF] [int] NULL,
	[IN_INF_CRE] [int] NULL,
	[IN_INF_PRE] [int] NULL,
	[IN_FUND] [int] NULL,
	[IN_FUND_AI] [int] NULL,
	[IN_FUND_AF] [int] NULL,
	[IN_MED] [int] NULL,
	[IN_PROF] [int] NULL,
	[IN_PROF_TEC] [int] NULL,
	[IN_EJA] [int] NULL,
	[IN_EJA_FUND] [int] NULL,
	[IN_EJA_MED] [int] NULL,
	[IN_ESP] [int] NULL,
	[IN_ESP_CC] [int] NULL,
	[IN_ESP_CE] [int] NULL,
	[QT_MAT_BAS] [int] NULL,
	[QT_MAT_INF] [int] NULL,
	[QT_MAT_INF_CRE] [int] NULL,
	[QT_MAT_INF_PRE] [int] NULL,
	[QT_MAT_FUND] [int] NULL,
	[QT_MAT_FUND_AI] [int] NULL,
	[QT_MAT_FUND_AF] [int] NULL,
	[QT_MAT_MED] [int] NULL,
	[QT_MAT_PROF] [int] NULL,
	[QT_MAT_PROF_TEC] [int] NULL,
	[QT_MAT_EJA] [int] NULL,
	[QT_MAT_EJA_FUND] [int] NULL,
	[QT_MAT_EJA_MED] [int] NULL,
	[QT_MAT_ESP] [int] NULL,
	[QT_MAT_ESP_CC] [int] NULL,
	[QT_MAT_ESP_CE] [int] NULL,
	[QT_MAT_BAS_FEM] [int] NULL,
	[QT_MAT_BAS_MASC] [int] NULL,
	[QT_MAT_BAS_ND] [int] NULL,
	[QT_MAT_BAS_BRANCA] [int] NULL,
	[QT_MAT_BAS_PRETA] [int] NULL,
	[QT_MAT_BAS_PARDA] [int] NULL,
	[QT_MAT_BAS_AMARELA] [int] NULL,
	[QT_MAT_BAS_INDIGENA] [int] NULL,
	[QT_MAT_BAS_0_3] [int] NULL,
	[QT_MAT_BAS_4_5] [int] NULL,
	[QT_MAT_BAS_6_10] [int] NULL,
	[QT_MAT_BAS_11_14] [int] NULL,
	[QT_MAT_BAS_15_17] [int] NULL,
	[QT_MAT_BAS_18_MAIS] [int] NULL,
	[QT_MAT_BAS_D] [int] NULL,
	[QT_MAT_BAS_N] [int] NULL,
	[QT_MAT_BAS_EAD] [int] NULL,
	[QT_MAT_INF_INT] [int] NULL,
	[QT_MAT_INF_CRE_INT] [int] NULL,
	[QT_MAT_INF_PRE_INT] [int] NULL,
	[QT_MAT_FUND_INT] [int] NULL,
	[QT_MAT_FUND_AI_INT] [int] NULL,
	[QT_MAT_FUND_AF_INT] [int] NULL,
	[QT_MAT_MED_INT] [int] NULL,
	[QT_DOC_BAS] [int] NULL,
	[QT_DOC_INF] [int] NULL,
	[QT_DOC_INF_CRE] [int] NULL,
	[QT_DOC_INF_PRE] [int] NULL,
	[QT_DOC_FUND] [int] NULL,
	[QT_DOC_FUND_AI] [int] NULL,
	[QT_DOC_FUND_AF] [int] NULL,
	[QT_DOC_MED] [int] NULL,
	[QT_DOC_PROF] [int] NULL,
	[QT_DOC_PROF_TEC] [int] NULL,
	[QT_DOC_EJA] [int] NULL,
	[QT_DOC_EJA_FUND] [int] NULL,
	[QT_DOC_EJA_MED] [int] NULL,
	[QT_DOC_ESP] [int] NULL,
	[QT_DOC_ESP_CC] [int] NULL,
	[QT_DOC_ESP_CE] [int] NULL,
	[QT_TUR_BAS] [int] NULL,
	[QT_TUR_INF] [int] NULL,
	[QT_TUR_INF_CRE] [int] NULL,
	[QT_TUR_INF_PRE] [int] NULL,
	[QT_TUR_FUND] [int] NULL,
	[QT_TUR_FUND_AI] [int] NULL,
	[QT_TUR_FUND_AF] [int] NULL,
	[QT_TUR_MED] [int] NULL,
	[QT_TUR_PROF] [int] NULL,
	[QT_TUR_PROF_TEC] [int] NULL,
	[QT_TUR_EJA] [int] NULL,
	[QT_TUR_EJA_FUND] [int] NULL,
	[QT_TUR_EJA_MED] [int] NULL,
	[QT_TUR_ESP] [int] NULL,
	[QT_TUR_ESP_CC] [int] NULL,
	[QT_TUR_ESP_CE] [int] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Descrição', @value=N'Microdados do Censo Escolar da Educacação Básica 2021' , @level0type=N'SCHEMA',@level0name=N'f', @level1type=N'TABLE',@level1name=N'Ensino_Basico'
GO
EXEC sys.sp_addextendedproperty @name=N'Fonte', @value=N'INEP-MEC' , @level0type=N'SCHEMA',@level0name=N'f', @level1type=N'TABLE',@level1name=N'Ensino_Basico'
GO
EXEC sys.sp_addextendedproperty @name=N'URL', @value=N'https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/censo-escolar' , @level0type=N'SCHEMA',@level0name=N'f', @level1type=N'TABLE',@level1name=N'Ensino_Basico'
GO
