USE [EstuDados]
GO
/****** Object:  Table [f].[Ensino_Superior]    Script Date: 12/25/2022 12:59:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [f].[Ensino_Superior](
	[ANO] [varchar](4) NULL,
	[NU_ANO_CENSO] [varchar](1000) NULL,
	[NO_REGIAO_IES] [varchar](1000) NULL,
	[CO_REGIAO_IES] [varchar](1000) NULL,
	[NO_UF_IES] [varchar](1000) NULL,
	[SG_UF_IES] [varchar](1000) NULL,
	[CO_UF_IES] [varchar](1000) NULL,
	[NO_MUNICIPIO_IES] [varchar](1000) NULL,
	[CO_MUNICIPIO_IES] [varchar](1000) NULL,
	[IN_CAPITAL_IES] [varchar](1000) NULL,
	[NO_MESORREGIAO_IES] [varchar](1000) NULL,
	[CO_MESORREGIAO_IES] [varchar](1000) NULL,
	[NO_MICRORREGIAO_IES] [varchar](1000) NULL,
	[CO_MICRORREGIAO_IES] [varchar](1000) NULL,
	[TP_ORGANIZACAO_ACADEMICA] [varchar](1000) NULL,
	[TP_CATEGORIA_ADMINISTRATIVA] [varchar](1000) NULL,
	[NO_MANTENEDORA] [varchar](1000) NULL,
	[CO_MANTENEDORA] [varchar](1000) NULL,
	[CO_IES] [varchar](1000) NULL,
	[NO_IES] [varchar](1000) NULL,
	[SG_IES] [varchar](1000) NULL,
	[DS_ENDERECO_IES] [varchar](1000) NULL,
	[DS_NUMERO_ENDERECO_IES] [varchar](1000) NULL,
	[DS_COMPLEMENTO_ENDERECO_IES] [varchar](1000) NULL,
	[NO_BAIRRO_IES] [varchar](1000) NULL,
	[NU_CEP_IES] [varchar](1000) NULL,
	[QT_TEC_TOTAL] [decimal](28, 0) NULL,
	[QT_TEC_FUNDAMENTAL_INCOMP_FEM] [decimal](28, 0) NULL,
	[QT_TEC_FUNDAMENTAL_INCOMP_MASC] [decimal](28, 0) NULL,
	[QT_TEC_FUNDAMENTAL_COMP_FEM] [decimal](28, 0) NULL,
	[QT_TEC_FUNDAMENTAL_COMP_MASC] [decimal](28, 0) NULL,
	[QT_TEC_MEDIO_FEM] [decimal](28, 0) NULL,
	[QT_TEC_MEDIO_MASC] [decimal](28, 0) NULL,
	[QT_TEC_SUPERIOR_FEM] [decimal](28, 0) NULL,
	[QT_TEC_SUPERIOR_MASC] [decimal](28, 0) NULL,
	[QT_TEC_ESPECIALIZACAO_FEM] [decimal](28, 0) NULL,
	[QT_TEC_ESPECIALIZACAO_MASC] [decimal](28, 0) NULL,
	[QT_TEC_MESTRADO_FEM] [decimal](28, 0) NULL,
	[QT_TEC_MESTRADO_MASC] [decimal](28, 0) NULL,
	[QT_TEC_DOUTORADO_FEM] [decimal](28, 0) NULL,
	[QT_TEC_DOUTORADO_MASC] [decimal](28, 0) NULL,
	[IN_ACESSO_PORTAL_CAPES] [decimal](28, 0) NULL,
	[IN_ACESSO_OUTRAS_BASES] [decimal](28, 0) NULL,
	[IN_ASSINA_OUTRA_BASE] [decimal](28, 0) NULL,
	[IN_REPOSITORIO_INSTITUCIONAL] [decimal](28, 0) NULL,
	[IN_BUSCA_INTEGRADA] [decimal](28, 0) NULL,
	[IN_SERVICO_INTERNET] [decimal](28, 0) NULL,
	[IN_PARTICIPA_REDE_SOCIAL] [decimal](28, 0) NULL,
	[IN_CATALOGO_ONLINE] [decimal](28, 0) NULL,
	[QT_PERIODICO_ELETRONICO] [decimal](28, 0) NULL,
	[QT_LIVRO_ELETRONICO] [decimal](28, 0) NULL,
	[QT_DOC_TOTAL] [decimal](28, 0) NULL,
	[QT_DOC_EXE] [decimal](28, 0) NULL,
	[QT_DOC_EX_FEMI] [decimal](28, 0) NULL,
	[QT_DOC_EX_MASC] [decimal](28, 0) NULL,
	[QT_DOC_EX_SEM_GRAD] [decimal](28, 0) NULL,
	[QT_DOC_EX_GRAD] [decimal](28, 0) NULL,
	[QT_DOC_EX_ESP] [decimal](28, 0) NULL,
	[QT_DOC_EX_MEST] [decimal](28, 0) NULL,
	[QT_DOC_EX_DOUT] [decimal](28, 0) NULL,
	[QT_DOC_EX_INT] [decimal](28, 0) NULL,
	[QT_DOC_EX_INT_DE] [decimal](28, 0) NULL,
	[QT_DOC_EX_INT_SEM_DE] [decimal](28, 0) NULL,
	[QT_DOC_EX_PARC] [decimal](28, 0) NULL,
	[QT_DOC_EX_HOR] [decimal](28, 0) NULL,
	[QT_DOC_EX_0_29] [decimal](28, 0) NULL,
	[QT_DOC_EX_30_34] [decimal](28, 0) NULL,
	[QT_DOC_EX_35_39] [decimal](28, 0) NULL,
	[QT_DOC_EX_40_44] [decimal](28, 0) NULL,
	[QT_DOC_EX_45_49] [decimal](28, 0) NULL,
	[QT_DOC_EX_50_54] [decimal](28, 0) NULL,
	[QT_DOC_EX_55_59] [decimal](28, 0) NULL,
	[QT_DOC_EX_60_MAIS] [decimal](28, 0) NULL,
	[QT_DOC_EX_BRANCA] [decimal](28, 0) NULL,
	[QT_DOC_EX_PRETA] [decimal](28, 0) NULL,
	[QT_DOC_EX_PARDA] [decimal](28, 0) NULL,
	[QT_DOC_EX_AMARELA] [decimal](28, 0) NULL,
	[QT_DOC_EX_INDIGENA] [decimal](28, 0) NULL,
	[QT_DOC_EX_COR_ND] [decimal](28, 0) NULL,
	[QT_DOC_EX_BRA] [decimal](28, 0) NULL,
	[QT_DOC_EX_EST] [decimal](28, 0) NULL,
	[QT_DOC_EX_COM_DEFICIENCIA] [decimal](28, 0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'Descrição', @value=N'Censo da Educação Superior 2020' , @level0type=N'SCHEMA',@level0name=N'f', @level1type=N'TABLE',@level1name=N'Ensino_Superior'
GO
EXEC sys.sp_addextendedproperty @name=N'Fonte', @value=N'INEP-MEC' , @level0type=N'SCHEMA',@level0name=N'f', @level1type=N'TABLE',@level1name=N'Ensino_Superior'
GO
EXEC sys.sp_addextendedproperty @name=N'URL', @value=N'https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/censo-da-educacao-superior' , @level0type=N'SCHEMA',@level0name=N'f', @level1type=N'TABLE',@level1name=N'Ensino_Superior'
GO
